@import "./components/form.css";
@import "./utilities.css";
@import "./typo.css";
@import "./components/footer.css";

/* general CSS */
body {
  position: relative;
  height: 100%;
  background: #919090 !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 150px;
}

main .container {
  background-color: #fff;
  overflow-x: hidden;
  height: 75vh;
}

main .row:first-of-type {
  height: 60%;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.75);
}

.swiper-pagination-bullets {
  position: relative !important;
}
